// Specific CSS for your home-page
.wrapper {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
}

.line {
  display: flex;
}

#top {
  height: 100px;
  width: 430px;
  background: white;
  display: flex;
  border: dashed 2px black;
  border-radius: 3px;
}

.square {
  height: 100px;
  width: 100px;
  background: white;
  border: solid 1px black;
  margin: 20px 5px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: solid 1px black;
  padding: 3px;
}
