
<div class="wrapper">
  <h1>Dragula</h1>
    <div id="top">
    </div>
  <div class="line">
    <div class="square" id="left">
      <img src='https://kitt.lewagon.com/placeholder/users/ClaudineP435433' class="circle"/>
    </div>
    <div class="square" id="center-left">
      <img src='https://kitt.lewagon.com/placeholder/users/sophiemariepauline' class="circle"/>
    </div>
    <div class="square" id="center-right">
      <img src='https://kitt.lewagon.com/placeholder/users/VictorSass' class="circle"/>
    </div>
    <div class="square" id="right">
      <img src='https://kitt.lewagon.com/placeholder/users/Xelaflash' class="circle"/>
    </div>
  </div>
</div>


