<h1>Test Dragula</h1>

<div id="top">
</div>
<div id="left">
  <div class="go">
    test
  </div>
  <div class="go">
    test2
  </div>
  <div class="go">
    test3
  </div>
</div>
<div id="right">
</div>


